<!-- To create new Blazor page:
        right click "Pages" folder 
        add Razor component
        add "@@page" to top
        add to sidebar in Nav
-->

@page "/test"

<h3>Test Page</h3>

@code {

}
